* {
    text-align: center;
    margin: auto;
}

#topOfpage {
    /* background-color: mediumturquoise; */
    font-style: italic;
    font-size: 70px;
    background: url(img/topPageImg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
    color: rgb(14, 53, 112);
}

#thirdLine {
    background-color: rgb(240, 240, 240);
    font-size: 40px;
    font-weight: 10;
}

.buttons {
    background-color: aliceblue;
}

.airlineImg {
    width: 100px;
    height: 100px;
}

.space {
    width: 70px;
}

.arrow {
    width: 100px;
    height: 70px;
}

.firstRowData {
    vertical-align: bottom;
    font-size: 25px;
    width: 250px;
}

.secondRowData {
    vertical-align: top;
    color: rgb(42, 107, 192);
}

.recommendationTable {
    background-color: antiquewhite;
    height: 120px;
    position: relative;
    border-radius: 5px;
}

.bookButton {
    background-color: #e7eb01;
    border: none;
    color: rgb(60, 160, 185);
    padding: 10px 32px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    vertical-align: bottom;
}

.setLeft {
    vertical-align: top;
    color: rgb(248, 4, 4);
    font-size: 20px;
    width: 100px;
}

#searchTable {
    background-color: rgba(248, 244, 21, 0.5);
    font-weight: 20;
    border-radius: 70px;
    color: rgb(43, 16, 165);
}

#secondLine {
    font-size: 50px;
    background: url(img/back.jpg) no-repeat center center;
    background-size: cover;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}

select {
    width: 300px;
    height: 40px;
}

option {
    font-size: large;
}

#saerchButton {
    background-color: #e7eb01;
    border: none;
    color: rgb(60, 160, 185);
    padding: 20px 80px;
    display: inline-block;
    border-radius: 10px;
    font-size: 16px;
    vertical-align: bottom;

    
}